@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Proza+Libre&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@600&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
}

.imagen {
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.695);
}

body {
  font-family: "Open Sans", sans-serif;
  font-family: "Proza Libre", sans-serif;
  background: #6a92ca;
  background: linear-gradient(
    0deg,
    rgba(106, 146, 202, 1) 35%,
    rgba(204, 207, 224, 1) 89%
  );
}
nav {
  background-color: #153361;

  justify-content: center;
  padding: 26px 44px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.695);
  font-size: 16px;
  display: flex;
}

nav a:hover,
nav a:focus {
  background-color: black;
  color: #ffd166;
  transition: 0.4s ease;
}

nav a {
  font-family: "Montserrat", sans-serif;
  padding: 10px;
  margin: 5px;
  text-decoration: none;
  background-color: #ffffff;
  border-radius: 5px;

  color: #2b4f81;
  font-weight: 1000;
}

main {
  align-content: center;

  border-radius: 50px;

  padding: 30px;
}

footer {
  text-align: center;
  padding: 20px;
  margin-top: 40px;
  background-color: white;
}

p {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 20px;
  text-align: justify;
  background-color: #f7f9fa;
  padding: 25px;
  border-radius: 5px;
  border: solid #ffd166 2px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.695);
}

h2 {
  margin-left: 20px;
  margin-right: 10px;
  padding: 5px;
  border-radius: 10px;
}

.resaltado {
  text-align: center;
  margin-top: 20px;
  padding: 15px;
  background-color: black;
  color: white;
  border-radius: 5px;
}

form {
  margin: 35px;
  border-radius: 25px;
  margin-left: 25%;
  width: 50%;
  height: 1000px;
  text-align: center;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.695);
  background-color: #153361;
}
#nombre {
  width: 200px;
  padding: 5px;
  outline: none;
  margin: 20px;
}

#nombre:hover,
#nombre:focus {
  border: solid #ffd166 2px;
}
#asunto {
  outline: none;
  width: 200px;
  padding: 5px;
  margin: 20px;
}
#asunto:hover,
#asunto:focus {
  border: solid #ffd166 2px;
}
#mensaje {
  outline: none;
  width: 200px;
  height: 200px;
  padding: 5px;
  margin: 20px;
}
#mensaje:hover,
#mensaje:focus {
  border: solid #ffd166 2px;
}

#enviar {
  height: 30px;
  width: 200px;
  border-radius: 5px;
  margin: 5px;
  background-color: white;
  color: #153361;
  border: none;
  transition: 0.5s ease;
  cursor: pointer;
  font-size: 1000;
}
#enviar:hover {
  background-color: black;
  color: #ffd166;
}

.ancla {
  color: #ffd166;
  font-size: 16px;
  border-radius: 5px;
  margin: 40px;
  margin-top: 40px;
  padding: 10px;
  background-color: black;
  text-decoration: none;
  border: solid black 1px;
}
.ancla:hover,
.ancla:focus {
  background-color: white;
  color: black;

  transition: 0.4s;
}
.divancla {
  display: flex;
  justify-content: center;
}

.modos {
  width: 60%;
  font-size: 12px;
  position: relative;
  left: 15%;
  margin: 10px;
  margin-top: 40px;
  padding: 10px;
  border: solid black 5px;
  border-radius: 5px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.695);
  transition: all 0.4s ease;
}
.modos:hover,
.modos:focus {
  background-color: #f7f9fa;
  transform: scale(1.03);
}

#menuambientes {
  margin: 30px;
  padding: 30px;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.btnambientes {
  text-decoration: none;
  font-size: 40px;
  padding: 25px 40px;
  margin-bottom: 100px;
  display: inline-block;
  border-radius: 5%;
  background-color: black;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.952);
  font-weight: 1000;
  transition: all 0.5s ease;
  text-align: center;
  opacity: 0.7;
  color: #ffd166;
}

.btnambientes:hover {
  color: #2b4f81;
  background-color: white;
  transform: scale(1.03);
}
.navactiva {
  background-color: black;
  color: #ffd166;
}

.ambienteactiva {
  color: #2b4f81;
  background-color: white;
}
.especies {
  margin-left: 10%;
}
.fotos {
  margin-left: 25%;
  width: 200px;
  height: auto;
  border-radius: 5px;
  flex-shrink: 0;
}

/* TARJETA GENERAL */
.card {
  width: 70%;
  margin: 40px auto;
  padding: 30px;

  border: 4px solid black;
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
  transition: all 0.4s ease;
}
.card:hover,
.card:focus {
  background-color: #f7f9fa;
  transform: scale(1.03);
}

/* TÍTULO */
.card h2 {
  text-align: center;
  margin-bottom: 25px;
}

/* FILAS DE TEXTO + IMAGEN */
.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
  margin: 30px 0;
}

/* TEXTO */
.row p {
  flex: 1;
  margin: 0;
}

/* IMÁGENES CONTROLADAS */
.row img {
  width: 180px;
  height: auto;
  border-radius: 5px;
  flex-shrink: 0;
}
.sin-estilo {
  border: none;
  background-color: transparent;
}
#botonatras {
  background-color: #153361;
  border-radius: 10px;
  position: fixed;
  bottom: 60px;
  right: 60px;
  padding: 10px;
  text-decoration: none;
  color: white;
  box-shadow: 5px 5px 5px grey;
  transition: all 0.4s ease;
}
#botonatras:hover {
  background-color: black;
  color: #ffd166;
  transform: scale(1.3);
}
#botonsubir {
  background-color: #153361;
  border-radius: 10px;
  position: fixed;
  bottom: 60px;
  right: 60px;
  padding: 10px;
  text-decoration: none;
  color: white;
  box-shadow: 5px 5px 5px grey;
  z-index: 1;
  transition: all 0.4s ease;
}
#botonsubir:hover {
  background-color: black;
  color: #ffd166;
  transform: scale(1.3);
}

/* RESPONSIVE */
@media (max-width: 768px) {
  iframe {
    height: 200px;
  }
  nav {
    padding: 16px 24px;
    font-size: 14px;
    flex-direction: column;
    align-items: center;
  }

  nav a {
    margin: 8px 0;
  }
  .row {
    flex-direction: column;
    text-align: center;
  }

  .row img {
    width: 60%;
  }
}
