/* === COMPONENTE 3: ACCORDION === */
.component {
  margin-top: 20px;
}
.accordion {
  max-width: 800px;
  margin: 0 auto;
}

.accordion-item {
  background: white;
  margin-bottom: 15px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.accordion-header {
  font-family: "Montserrat", sans-serif;
  background: white;
  color: #2b4f81;
  padding: 20px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background 0.3s;
}

.accordion-header:hover,
.accordion-header:focus {
  background-color: black;
  color: #ffd166;
}
.accordion-header.active {
  background-color: black;
  color: #ffd166;
}

.accordion-header::after {
  content: "+";
  font-size: 24px;
  transition: transform 0.3s;
}

.accordion-header.active::after {
  transform: rotate(45deg);
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  background: white;
}

.accordion-content.active {
  max-height: 500px;
}

.accordion-body {
  padding: 20px;
  color: #666;
  line-height: 1.6;
}
